//! fonts
@import './fonts/style.css';
@import './styles/_nav.scss';

body {
    background-color: var(--dark-color) !important;
    color: var(--light-color);
}

*:focus-visible {
    outline: 2px solid var(--green-color);
    outline-offset: 3px;
}

* {
    scroll-behavior: smooth !important;
}

html {
    scroll-padding-top: 72px;
}

.hide-scrollbar {
    overflow: auto !important; /* Enable scrolling */
    scrollbar-width: none !important; /* Firefox */
    -ms-overflow-style: none !important; /* Internet Explorer and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none !important; /* Chrome, Safari, and Opera */
}

@for $i from 1 through 30 {
    .mll-#{$i} {
        margin-left: #{$i * 10}px !important;
    }
}

.no-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
